<h2>SURGERY SHOW PAGE</h1>

<%= @surgery.title %></br>
<%= @surgery.operating_room_number %></br></br>

Doctor's on this Surgery:</br>
Doctors: <%= @surgery.total_doctors %>

<h2>Other surgeries happening this day of the week:</h2></br>
<%= %>
