<h2><%= @surgery.title %></h2>
  <p>Operating Room: <%= @surgery.or_number %></p>
    <p>Doctor Count: <%= @surgery.doctor_count %></p>

<h3>Other surgeries happening this day of the week:</h3>
<section id= 'other_surgeries'>

</section>
