<h1> Welcome to Patients Index Page</h1>
<h2> Below is all patients ordered by age </h2>
<ul>
<p> <% @patients.old_to_young.each do |patient| %> </p>
<li> <%= patient.name %> </li> <br>
</ul>
<% end %>
