<h1>Hospital Show Page</h1>

Hospital Name: <%= @hospital.name %><br></br>
Number of Doctors: <%= @hospital.number_of_docs %><br></br>
Universities attended:
<% @uniq_doc_uni.each do |university| %><br></br>
  <%= university %>
<% end %>
