<h1 id="name"><%= @hospital.name %></h1>
<p id="doctor-count">Number of doctors: <%= @hospital.doctor_count %></p>
<section id="universities">
  <p>
    Universities that this hospital's doctors attended:
    <%= @hospital.university_list.join(', ') %>
  </p>
</section>
