<h1>Hospital Index</h1>
<h2><%= @hospital.name %></h2>

<p>Number of Doctors: <%= @hospital.number_of_doctors %></p>
<h3>List of Universities Doctors at <%= @hospital.name %> attended:</h3>
<p><% @hospital.unique_universities.each do |university| %></p>
  <p><%= university %></p>
<% end %>

