<h1><%= @hospital.name%>'s Info page</h1>
<h2>Number of Doctors employeed:<%= @hospital.doctors.count%></h2>
<h2>Hospital works at: <% @hospital.unique_schools.each do |school|%></h2>
                      <h2>  <%= school.university %></h2>
                      <% end %>
